<div style="margin: auto; width: 80%; border: rgb(102, 101, 101) 2px solid;">
  <p>Componente Hijo1 - su padre es Home</p>

  <small>Para practicar recibo un atributo,llamado texto del componente padre</small>
  <small>en el ts del hijo pongo un @input y en el html del padre inserto el atributo a enviar dentro del
    selector del hijo en el template del padre</small><br>

  <!-- comunicación de padres a hijos -->
  <!-- el input del ts actualiza en todo momento el atributo variabledelhijo -->
  <small>Aquí un envío padre-hijo = <span style="color: red;">{{variableDelHijo}}</span></small><br>

  <!-- comunicacion de hijos a padres
  Requiere en el ts: output, eventEmitter y en el html del padre: recibir evento en el selector del hijo -->
  <ion-button (click)="doCambiarPadre()" color="warning" size="small" type="submit">Enviar texto al padre</ion-button>

  <small style="color: blue;">[PRUEBA DE VARIABLE COMUN: {{numeroComun}}]</small>
</div>
